doctype html
html(lang='en',  style="background:#edf2f6;")
    head
        meta(charset='UTF-8')
        base(href='/')
        title UniFyd College
        link(rel='stylesheet', href='libs/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='libs/fontawesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='libs/angular-material/angular-material.css')
        link(rel='stylesheet', href='libs/angular-block-ui/dist/angular-block-ui.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='libs/material-icons/css/material-icons.min.css')
        link(rel='stylesheet', href='libs/jquery-confirm2/dist/jquery-confirm.min.css')

        script(src='libs/angular/angular.min.js')
        script(src='libs/angular-route/angular-route.min.js')

        script(src='libs/angular-aria/angular-aria.js')
        script(src='libs/angular-animate/angular-animate.js')
        script(src='libs/angular-material/angular-material.js')
        script(src='libs/jquery/dist/jquery.js')
        script(src='libs/bootstrap/dist/js/bootstrap.min.js')
        script(src='libs/angular-block-ui/dist/angular-block-ui.js')
        script(src='libs/jquery-confirm2/dist/jquery-confirm.min.js')




        script(src='js/controllers/MainCtrl.js')
        script(src='js/controllers/NerdCtrl.js')
        script(src='js/controllers/LogoutCtrl.js')
        script(src='js/controllers/MarketerCtrl.js')
        script(src='js/services/NerdService.js')
        script(src='js/controllers/GeekCtrl.js')
        script(src='js/services/GeekService.js')
        script(src='js/appRoutes.js')
        script(src='js/app.js')
    body(ng-app='uniFydApp', ng-controller='NerdController', style="background:#edf2f6;")
        .container
            nav.navbar.navbar-fixed-top.navbar-inverse(style="background:#404257;box-shadow:0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);")
                .container-fluid
                    .navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        |
                        a.navbar-brand(href='#') UniFyd College
                    #bs-example-navbar-collapse-1.collapse.navbar-collapse
                        ul.nav.navbar-nav     
                          li
                            a What's Up   
                          //.container
                            //.row
                              //#custom-search-input
                                //.input-group.col-md-12
                                  //input.search-query.form-control(type='text', placeholder='Search')
                                  //|  
                                  //span.input-group-btn
                                    //button.btn.btn-danger(type='button')
                                      //span.glyphicon.glyphicon-search                    
                        form.navbar-form.navbar-left(style='margin-left: 25%;position: fixed;width: 100%;margin-right: 25%;')
                          .form-group
                            //input.form-control(type='text', placeholder='Search')
                            .input-group.col-md-12
                              input.search-query.form-control(type='text', placeholder='Search', style='width:530px;background-color:#535568;color:#fff;border:none;')
                              |  
                              span.input-group-btn(style='background-color:#535568;')
                                button.btn(type='button')(style='background-color:#535568;')
                                  span.glyphicon.glyphicon-search 
                          //|  
                          //button.btn.btn-default(type='submit') Submit
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='/logout') Logout
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                    | Dropdown
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='#') Action
                                    li
                                        a(href='#') Another action
                                    li
                                        a(href='#') Something else here
                                    li.divider(role='separator')
                                    li
                                        a(href='#') Separated link
            div(layout='row', style='margin-top:60px')
                div(flex='20', style='margin-right:10px;position:fixed;width:20%;') 
                  .panel.panel-default(style='1box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26);border:none;border-radius:0;')
                    .panel-heading(style="background-color:#fff;color: #ababab;font-weight: bold;font-size: 12px;") PAGES 
                    .panel-body(style='padding:5px;')
                      ul.nav.nav-pills.nav-stacked
                        li.active.menuitem(id='whatsupmenuitem')                  
                          a(href='/',style='padding:5px 10px') 
                            i.mi.mi-chat
                            |  What's Up
                        li.menuitem(id='notificationsmenuitem')                  
                          a(href='/geeks',style='padding:5px 10px') 
                            i.mi.mi-notifications
                            |  Notifications
                  .panel.panel-default(style='1box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26);border:none;border-radius:0;')
                    .panel-heading(style="background-color:#fff;color: #ababab;font-weight: bold;font-size: 12px;") APPLETS 
                    .panel-body(style='padding:5px;')
                      ul.nav.nav-pills.nav-stacked
                        li.active.menuitem(id='whatsupmenuitem')                  
                          a(href='/',style='padding:5px 10px') 
                            i.mi.mi-chat
                            |  What's Up
                        li.menuitem(id='notificationsmenuitem')                  
                          a(href='/geeks',style='padding:5px 10px') 
                            i.mi.mi-notifications
                            |  Notifications
                        li.menuitem(id='marketermenuitem')                  
                          a(href='/marketer',style='padding:5px 10px') 
                            i.mi.mi-device-hub
                            |  Marketer
                        li
                          a(href='/',style='padding:5px 10px') 
                            i.mi.mi-restaurant-menu
                            |  Campus Grub
                        li
                          a(href='/',style='padding:5px 10px') 
                            i.mi.mi-library-books 
                            |  Campus Books
                        li
                          a(href='/',style='padding:5px 10px') 
                            i.mi.mi-attach-money 
                            |  Give To     
                  .panel.panel-default(style='1box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26);border:none;border-radius:0;')
                    .panel-heading(style="background-color:#fff;color: #ababab;font-weight: bold;font-size: 12px;") Settings 
                div(flex='50', ng-view='', style='margin-right:10px;margin-left:25%;' )  
                div(flex='', hide-sm='', hide-xs='') 
                  .panel.panel-default(style='1box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26);border:none;border-radius:0;')
                    .panel-heading(style="background-color:#fff;color: #ababab;font-weight: bold;font-size: 12px;")  Events
                    .panel-body
                       .h4 TODAY'S EVENT


