body { padding-top:30px;background:#fff; }

.listItemTopPadding {
  padding: 9px 0px 0px 0px;
}

.listItemTopBottomPadding {
  padding: 9px 0px;
}

.colPadding {
  padding: 0px;
  margin: 0px;
}
.customMargin{
  margin:3px 0 0 -10px !important;
}

.borderNone {
  border: none;
  border: 0px;
}

.listitemborderSolid {
  border: none;
  border-bottom: 1px solid #e2e2e2;
}

.alignright {
  text-align: right;
}

.whitetext {
  color: #fff;
  font-weight: normal;
}

.greytext {
  color: #231b25;
  font-weight: normal;
  word-wrap: break-word;
}

.lightgreytext {
  color: #a7b0c2;
  font-weight: normal;
  word-wrap: break-word;
}

.bluetext {
  color: #1a7de3 !important;
  font-weight: normal;
}

.redtext {
  color: #cc0000;
  font-weight: normal;
}

.postPic {
  width: 100%;
  max-height: 180px;
  overflow: hidden;
  margin:4px 0;
  position: relative;
}

.postPic img{
  position: relative;
  width: 100%;
  min-height: 180px;
  height: auto;
}

.fontBold {
  font-weight: bold;
}

.fontSize16 {
  font-size: 16px;
}

.fontSize14 {
  font-size: 14px;
}

.fontSize12 {
  font-size: 12px;
}

.postBox {
  
  margin-top: 10px;
  border: 1px solid #b9c9dc;
  border-radius: 4px !important;
  position: relative;
}

.userImgBox {
  width: 40px;
  height: 40px;
  overflow: hidden;
  float: left;
  border-radius: 50%;
  position: relative;

}

.postUserImg {
  min-width: 40px;
  min-height : 40px;
  width:40px;
  height: 40px;
  position: absolute;
}

.customBtn {
  background: #ecf4fd;
  color: #1a7de3;
  font-size: 14px;
  width: 80px;
  font-weight: bold;
}
.customBtnBlue {
  background: #4489d9;
  color: #fff;
  font-size: 14px;
  width: 80px;
  font-weight: bold;
}

.well {
  padding: 8px;
  background-color: transparent;
  border: none;
}

#tagsList {
  display: none;
}

#fixedFooterContent {
  position: fixed;
  bottom: 19px;
  width: 100%;
  z-index: 100;
}

.tagBtn {
  background-color: #c7d2e1;
  color: #515264;
  border-radius: 2em;
  margin: 0px 5px 5px 0px;
  padding: 4px 12px;
}
.tagBtnPadding{
    padding: 4px 8px 4px 12px;
}

.fonticon {
  width: 20px;
}

.backgroundNone {
  background: transparent;
  background-color: transparent;
}

.tagListBox {
  max-height: 180px;
  overflow: scroll;
  position: absolute;
  top: 0px;
  z-index: 10;
  width: 100%;
  box-shadow: 0px 4px 20px rgba(29,42,60,.28);
}

.tagheader {
  background-color: #c2cdda;
  border-bottom: 1px solid #c2cdda;
  padding: 2px 10px;
}

.tagInput {
  background: transparent;
  background-color: transparent;
  outline: none;
  color: #9a9fbd;
  border: none;
  width:91%;
}

.listItemPadding {
  padding: 9px;
}

.whatsUpTitleInput {
  background-color: transparent;
  width: 100%;
  padding: 0px;
  outline: none;
  resize: none;
}

.myModalTest {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 70px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-transition: ease-in-out 2s;
  transition: ease-in-out 2s;
}


/* Modal Content */

.modal-contentTest {
  margin: auto;
  width: 80%;
  background-color: #fff;
  background: #fff;
  -webkit-transition: ease-in-out 3s;
  transition: ease-in-out 3s;
}

.customPadding {
  padding: 5px 10px;
}

  .textcenter {
    text-align: center;
  }
  
  .userProfile {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    background: #fff;
    margin: auto;
  }
  
  .userProfile img {
    min-height: 100px;
    width: auto;
    margin: auto;
  }
  .tagActive{

  }
  .tagActive:active{
    background:#1a7de3;
    color:#fff;
  }
  .marginTop10{
    margin-top: 10px;
  }
 .positionRelative{
  position: relative;
 }
 .positionAbsolute{
  position: absolute;
  top:0px;right:0px;
 }
 .fonticon32{
  width:32px;
 }
 .fonticon24{
  width:24px;
 }
 .navbar-app{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8592da+0,6da8e0+100 */
background: #8592da; /* Old browsers */
background: -moz-linear-gradient(left, #8592da 0%, #6da8e0 100%) !important; 
background: -webkit-linear-gradient(left, #8592da 0%,#6da8e0 100%) !important;
background: linear-gradient(to right, #8592da 0%,#6da8e0 100%) !important; 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8592da', endColorstr='#6da8e0',GradientType=1 ); /* IE6-9 */
 }

 .overlay .overlay-inner > .overlay-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    margin: -5px -5px -5px -5px;
    background: rgba(255,255,255,.2);
}
.overlay-dismiss {
  display: none !important;
}
.backOverlay{
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  position: fixed;
  z-index: 10;
  display: none;
}

.addCommentBox{
  top:12%;width:80%;position: fixed;
  }
.boxradius{
  border-radius: 4px !important;
}
.topleftrightradius{
  border-top-right-radius:4px !important;
  border-top-left-radius:4px !important;
}
.bottomleftrightradius{
  border-bottom-right-radius:4px !important;
  border-bottom-left-radius:4px !important;
}
.largeDevice{
  display: none;
}
.commentsLeftMargin{
  margin-left: -7px;
}
.listBox{
  width:80%;overflow: scroll;position: fixed;max-height: 69%;min-height: 45%
}
.commentBox{
  width:80%;overflow: scroll;position: fixed;max-height: 60%;min-height: 45%
}


.textarea{
  outline: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* STYLES GO HERE */

}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
  .listItemTopPadding {
      padding:9px 0px 0 0;
      margin-top: 1px;
  }
  .userImg{
    display: none;
  }
  .customMargin {
      margin: -2px 0 0 -33px !important;    
  }
  .device{
    display: none;
  }
  .postPic {
    width: 100%;
    max-height: 250px;
    height: auto;
    overflow: hidden;
    margin: 4px 0;
    position: relative;
    display: block;
}
  .postPic img{
    position: relative;
/*top: 25%;
transform: translateY(-25%);*/
  width: 100%;
  min-height: 250px;
  height: auto;
  }
  .largeDevice{
    display: block;
  }
  .commentsLeftMargin{
    margin-left: -40px;
  }
  .list-group-item{
    margin-bottom: 0px;
  }
  .commentLists .list-group-item:first-child{
    border-radius: 0px !important;
  }
  .myModalTest { 
  -webkit-transition: none;
  transition: none;
}


/* Modal Content */

.modal-contentTest {
  width: 35%;
  -webkit-transition:none;
  transition:none;
}
.addCommentBox{
    width:35%;
  }

  .listBox{
  width:35%;
}
.commentBox{
  width:35%;
}
.well{
  padding-top: 0px;
}
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
}
